*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --darkGreen:hsl(158,36%,37%);
    --cream:hsl(30,38%,92%);
    --gray:hsl(228,12%,48%);
    --white:hsl(0,0%,100%);
    --head:2rem;
    --text:1rem;
}
.wrapper{
    
    min-height: 100vh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid  black */
}
.card-box{
    /* border: 1px solid black; */
    margin: 1em 2em;
    max-width: 400px;
    background-color: white;
    border-radius: 1em;
}
.des-img{
    display: none;
}
.mob-img{
    border-radius: 1em 1em 0 0;
}
img{
    max-width: 100%;
    /* object-fit: cover;
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%; */
}
.card-text{
    text-align: left;
    /* border: 1px solid black; */
    margin: 1.5em 2em;
}

.product{
    font-family: "Montserrat" ,sans-serif;
    font-size: var(--text);
    color: var(--gray);
    letter-spacing:0.3em;
    /* text-transform: uppercase; */
    /* font-weight: 500; */
}
.product-title{
    /* border: 1px solid black; */
    font-size: var(--head);
    /* font-weight: 700; */
    font-family: "Fraunces",serif;
    /* line-height: 1; */
    margin: 0.6em 0em 0.7em 0 ;
}
.desc{
    font-family: "Montserrat" ,sans-serif;
    width: 96%;
    font-size: var(--text);
    color: var(--gray);
    /* font-weight: 500; */
    margin-bottom: 1.5em;
}
#green_text{
    margin-right: 0.3em;
    color: var(--darkGreen);
}
#green_text:hover{
    color: blueviolet;
    transition: 0.5s;
}
#strike{
    text-decoration: line-through;
    /* align-self: center; */
}
#strike:hover{
    color: red;
    transition: 0.5s;
}

#btn{
    /* display: block; */
    margin: 2em 0 1em 0;
    background-color: var(--darkGreen);
    width: 100%;
    padding: 1em 0;
    color: var(--white);
    border: 0;
    border-radius: 0.7em;
    /* outline: none; */
    cursor: pointer;
}

#btn:hover{
    background-color: var(--gray);
    transition: 0.5s;
    color: black;
    font-weight: 700;
}

/* for smaller screen */
@media (max-width:260px){
    :root{
        --head:1.3rem;
        --text:0.9rem;
    }

    .card-box{
        margin: 1em;
        max-width: 200px;
    }

    .card-text{
        text-align: left;
        margin: 1.5em 0.6em;
    }
    #btn{
        padding: 0.6em 0;
    }
}

/* for PC & HD+ screen */
@media(min-width:650px){
    .card-box{
        display: flex;
        max-width: 700px;
    }
    .mob-img{
        display: none;
    }
    .des-img{
        display: block;
        width: 900px;
        height: 100%;
        border-radius: 1em 0 0 1em;
    }
    .product-title{
        width: 80%;
    }
}

/* for 4k & full hd+ screens */
@media(min-width:1921px){
    :root{
        --head:5rem;
        --text:2rem;
    }
    .card-text{
        text-align: left;
        margin: 4em 2.5em;
    }
    .card-box{
        margin: 1em;
        max-width: 1500px;
    }
    .des-img{
        width: 1600px;
        height: 100%;
    }
    #btn{
        padding: 2em 0;
    }
}